<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="log" fileName="log/test.log" append="true">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n" />
		</File>
		<RollingFile name="errorRollingFile" fileName="log/error.log"
			filePattern="log/error-%d{yyyy_MM_dd_HH_mm_ss}-%i.log.gz">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS z} %-5level %class{36} %L %M - %msg%xEx%n" />
			<SizeBasedTriggeringPolicy size="100MB" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.shih.tab.Main" level="all" additivity="false">
			<AppenderRef ref="log" />
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="com.shih.tab" level="all" additivity="false">
			<AppenderRef ref="errorRollingFile" />

		</Logger>
		<Root level="trace">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>